.session-tip-upread{
  position: absolute;
  top: 42px;
  right: 20px;
  background-color: #ff5500;
  color: white;
  padding: 0 5px;
  height: 18px;
  line-height: 18px;
  text-align: center;
  font-size: 12px;
  border-radius: 9px;
}