.notice-msg{
  background: #ddd;
  color: #666;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  padding: 2px 14px;;
  margin: 0 auto 20px;
  width: auto;
  display: inline-block;
  border-radius: 11px;

}
