@import "../../../../../../configs/config";
.forward-msgs-container{
  box-sizing: border-box;
  width: 588px;
  height: 684px;
  background-color: white;

  .forward-msgs-header-wrapper{
    position: relative;
    width: 100%;
    height: 70px;
    background-color: $textBgColor1;
    color: white;
    border-radius: 4px;
    overflow: hidden;
    .forward-msgs-header{
      height: 100%;
      color: white;
    }
  }

  .forward-msgs-list-wrapper{
    width: 100%;
    height: 614px;

  }
}