@import "../../../../../configs/config";
.label-selector-container{
  position: absolute;
  top: 105%;
  left: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  width: 220px;
  box-sizing: border-box;
  z-index: 9;

}

.label-selector-container.hide{
  display: none;
}

.label-edit-container{
  display: none;
  position: absolute;
  top: 105%;
  left: 570px;
  background-color: white;
  //padding: 20px 0 0 20px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  z-index: 9;
  .label-friend-selector{
    float: right;
  }

  .label-list{
    float: left;
    width: 240px;
    box-sizing: border-box;
    .label-list-item{
      width: 100%;
      box-sizing: border-box;
      padding: 0 20px;
      height: 40px;
      line-height: 40px;
      position: relative;
      .select-circle{
        right: 20px;
      }
      .label-list-item-name{
        color: $textColor1;
        width: 188px;
        display: inline-block;
        float: left;
        cursor: pointer;
        vertical-align: middle;
        height: 100%;
      }
      .label-list-item-icon{
        width: 12px;
        height: 12px;
        line-height: 12px;
        text-align: center;
        color: white;
        cursor: pointer;
        background-color: $textBgColor4;
        border-radius: 50%;
        //float: right;
        display: inline-block;
        vertical-align: middle;
      }
    }
    .label-list-item.selected{
      background-color: $textBgColor3;
      .label-list-item-name{}
      .label-list-item-icon{
        //background-color: white;
      }
    }
  }
}
.label-edit-container.show{
  display: block;
}
.label-submit{
  width: 180px;
  height: 32px;
  border-radius: 4px;
  background-color: $btnColor2;
  font-size: 14px;
  text-align: center;
  color: white;
  cursor: pointer;
  border: 0 none;
  outline: 0 none;
  box-sizing: border-box;

}