@import "../../../../../configs/config";
@import "../../../../../configs/icons";
.comment-item-wrapper{
  min-height: 70px;
  width: 100%;
  margin-bottom: 20px;
  float: right;
}
.comment-avatar{
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 6px;
}

.comment-menu{
  float: right;
  height: 20px;
  margin-top: 8px;
  margin-bottom: 30px;
  span{
    color: $textColor2;
    font-size: 14px;
    line-height: 14px;
    border-right: 1px solid $borderColor2;
    padding: 0 8px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }
  span:nth-last-child(1){
    border-right: 0 none;
    padding-right: 0;
  }
  .item-thumbup{
    //width: 15px;
    height: 100%;
    background: url(addIconHost($ICON_CIRCLE_LIKE_COMMON)) no-repeat 8px center;
    background-size: 14px;
    padding-left: 18px;
    line-height: 20px;
  }
  .item-thumbup.cur{
    background-image: url(addIconHost($ICON_CIRCLE_LIKE_ACTIVE));
  }
}
.comment-main-line{
  width: 660px;
  float: right;
  height: 3px;
  background-color: $borderColor2;
}
.cia-wrapper{
  margin-bottom: 20px;
  float: left;
  width: 100%;
}