@import "../../../configs/config";
@import "../../../configs/icons";
.selector-search-container{
  width: 100%;
  box-sizing: border-box;
  padding: 14px 10px;
}
.selector-search-input{
  width: 100%;
  box-sizing: border-box;
  height: 22px;
  border: 0;
  outline: 0;
  padding: 4px 5px 4px 32px;
  font-size: 12px;
  line-height: 14px;
  color: $textColor1;
  background: url(addIconHost($ICON_NAV_SEARCH)) no-repeat 12px center;
  background-color: white;
  background-size: 14px 14px;
}
.selector-search-input::placeholder{
  color: $textColor3;
}