.user-center-container{
  width: 1200px;
  margin: 0 auto;
}
.uc-tab{
  width: 380px;
  float: left;
  margin-right: 20px;
}
.uc-main{
  width: 800px;
  float: left;
}
.uc-user-anchor-list{
  display: flex;
  height: 100px;
  padding: 10px 0;
  box-sizing: border-box;
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}