.moment-item-images{
  width: 640px;
  margin: 15px auto;
  .moment-item-image-wrapper-multi{
    width: 210px;
    height: 210px;
    float: left;
    overflow: hidden;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
    background-color: white;
    overflow: hidden;
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;

    img{
      display: block;
      width: 100%;
    }
    img.mi-vertical-middle{
      width: 100%!important;
      height: auto!important;
      display: block;
    }
    img.mi-horizontal-middle{
      height: 100%!important;
      width: auto!important;
      display: block;
    }
  }
  .moment-item-image-wrapper-multi:nth-child(3n){
    margin-right: 0;
  }
}