.ellipsis{
  line-height: inherit;
}
.ellipsis-container{
  max-width: 100%;
  line-height: inherit;
  color: inherit;
}
.ellipsis-more{
  position: absolute;
  right: 0;
  bottom: 0;
  display: none;
}
.ellipsis-more.show{
  display: block;
}