@import "../../../../configs/config";
.icon-setting{
  background: url(addHost("web/assets_v2/img/icon_nsv_Settings_common.png")) no-repeat center center;
  background-size: 100%;
  width: 20px;
  height: 20px;
  right: 76px;
  cursor: pointer;
  .setting-list{
    display: none;
    background-color: white;
    border-radius: 4px;
    //padding: 0 30px;
  }
}
.icon-setting:hover,.icon-setting.cur{
  background-image: url(addHost("web/assets_v2/img/icon_nsv_Settings_active.png"));
}
.icon-setting.cur{
  .setting-list{
    display: block;
  }
}
.setting-list{
  //width: 100px;
  position: absolute;
  left: 0;
  top: 60px;
}
.square-setting-header{
  height: 64px;
  width: 100%;
  line-height: 64px;
  border-bottom: 2px solid $borderColor2;
  //padding: 0 30px;
  text-align: left;
  position: relative;
  font-size: 18px;
  color: $textColor1;
  font-weight: 600;
  box-sizing: border-box;
  padding-left: 30px;

  .square-setting-close{
    right: 30px;
    cursor: pointer;
  }
}

.square-setting-list-wrapper{
  padding: 0 30px 10px;
  font-size: 18px;
  color: $textColor1;
  line-height: 25px;
  width: 112px;
}
